@model IDGS902_tema1.Models.Calculos

@{
    ViewBag.Title = "OperasBas2";
}

<h2>OperasBas2</h2>

<div class="container">
    <div class="row">
        <form action="/" method="post">
            <label>Numero1:</label>
            <input type="text" name="Num1" value="" />
            <br />
            <label>Numero2:</label>
            <input type="text" name="Num2" value="" />
            <br />
            <input type="submit" name="name" value="calcular" />
        </form>
    </div>
</div>