
@{
    ViewBag.Title = "OperasBas";
    Layout = null;
}

<h2>vista</h2>
<h2>OperasBas</h2>
<div class="container">
    <div class="row">
            <form action="/" method="post">
                <label>Numero1:</label>
                <input type="text" name="n1" value="" />
                <br />
                <label>Numero2:</label>
                <input type="text" name="n2" value="" />
                <br />
                <input type="submit" name="name" value="calcular" />
            </form>
    </div>
</div>